# Virtual environments
.venv/
env/

# API
.env


# Python cache
__pycache__/
*.pyc

# Database
fundamentals.db
fundamentals_backup_*.db
*.db

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
